<h1 ng-show="idDissertation" class="section-heading">Edit dissertation</h1>
<h1 ng-hide="idDissertation" class="section-heading">Create dissertation</h1>

<div class="row">
    <div ng-show="errorMessage">
        <div class="alert alert-danger fade in">
            <strong>Error!</strong> {{ errorMessage }}
        </div>
    </div>
</div>
<form ng-hide="hideForm">
    <div class="form-group">
        <div class="row">
            <div class="col-md-10">
                <label for="tutorsInput">Tutors</label>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Tutor</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tutor in dissertation.tutors">
                            <td ng-show="tutor.url"><a href="{{tutor.view}}">{{ tutor.name }}</a></td>
                            <td ng-hide="tutor.url">{{tutor}}</td>

                            <td>
                                <button class="btn btn-danger" ng-click="deleteTutor($index)">Delete</button>
                            </td>
                            <td>
                                <button ng-hide="tutor.url" class="btn btn-primary" ng-click="validateTutor($index)">Validate</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control" id="tutorsInput" placeholder="Tutor name" ng-model="tutorName">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" ng-click="addTutor()">Add tutor</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6" ng-hide="dissertation.authorName">
            <label for="authorInput">Author</label>
            <input type="text" class="form-control" id="authorInput" placeholder="Author" ng-model="dissertation.author">
            <br>
            <button class="btn btn-primary" ng-click="validateAuthor(dissertation.author)">Validate author</button>
        </div>
        <div class="form-group col-md-6" ng-show="dissertation.authorName">
            <label for="authorInput">Author</label>
            <p><a href="{{dissertation.authorViewURL}}">{{dissertation.authorName}}</a></p>
            <br>
            <button class="btn btn-primary" ng-click="editAuthor()">Edit author</button>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="titleInput">Title</label>
            <input type="text" class="form-control" id="titleInput" placeholder="Title" ng-model="dissertation.title">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="yearInput">Year</label>
            <input type="Number" class="form-control" id="yearInput" placeholder="Year" ng-model="dissertation.year">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="keywordsInput">Keywords (separated by comma)</label>
            <input type="text" class="form-control" id="keywordsInput" placeholder="Keywords" ng-model="dissertation.keywords">
        </div>
    </div>

    <div class="row">
        <input class="btn btn-primary" type="submit" ng-click="send(dissertation)" value="Save" />
    </div>

</form>
