<h1 class="section-heading">Dissertations</h1>

<div ng-show="vm.errorMessage">
    <div class="alert alert-danger fade in">
        <strong>Error!</strong> {{ vm.errorMessage }}
    </div>
</div>
<div ng-show="vm.successMessage">
    <div class="alert alert-success fade in">
        <a href="" class="close" data-dismiss="alert" ng-click="vm.closeSuccess()">&times;</a>
        <strong>Success!</strong> {{ vm.successMessage }}
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="#!/dissertations/create" class="btn btn-primary" >Create</a>
    </div>
</div>
<br>
<div ng-hide="vm.hideTable">
    <div class="row">
        <div class="col-md-6">
            <input class="form-control" ng-model="vm.query" name="Search"></input>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" ng-click="vm.search()">Search</button>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tutors</th>
                <th>Author</th>
                <th>Title</th>
                <th>Year</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="dissertation in vm.dissertations">
                <td>{{dissertation.idDissertation}}</td>
                <td>
                    <p ng-repeat="tutor in dissertation.tutors">
                        <span ng-show="tutor.url"><a href="{{tutor.viewURL}}">{{ tutor.name }}</a></span>
                        <span ng-hide="tutor.url">{{tutor}}</span>
                    </p>
                </td>
                <td>
                    <span ng-show="dissertation.authorName"><a href="{{dissertation.authorViewURL}}">{{ dissertation.authorName }}</a></span>
                    <span ng-hide="dissertation.authorName">{{dissertation.author}}</span>
                </td>
                <td>{{dissertation.title}}</td>
                <td>{{dissertation.year}}</td>
                <td>
                    <a class="btn btn-danger" ui-sref="dissertations.delete({idDissertation:dissertation.idDissertation})">Delete</a>

                </td>
                <td>
                    <a class="btn btn-primary" href="#!/dissertations/{{dissertation.idDissertation}}/edit">Edit</button>
            </td>
        </tr>
    </tbody>

</table>

<ul uib-pagination total-items="vm.pagination.total"  items-per-page="vm.pagination.limit" total-items="vm.pagination.total" ng-model="vm.pagination.page" max-size="5" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="vm.loadPage()"></ul>

</div>
